<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>FTTM Tweets That Matter</title>
  <meta name="description" content="The latest tweets from the @officialFTTM page with realtime stats.">
  <meta name="author" content="SitePoint">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="article:author" content="http://facebook.com/slapden" />
  <link rel="stylesheet" href="tachyons.min.css">
  <link rel="stylesheet" href="app.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <header class="center pa3 ph5-ns">
    <h1 class="mw6 mw7-ns center pa3 ph5-ns tc">FTTM Tweets that Matter</h1>
  </header>
  <section id="posts">
    <div class="fl w-100 h-100 pv5 tc post" v-for="post in filteredPosts" v-bind:key="post.id">
        <h1 class="center w-60 mw-100" v-html="filteredMsg(post.message)"></h1>
        <img class="mw-100" v-bind:src="post.full_picture" />
        <p v-cloak><b>Created: {{ humanizeTime(post.created_time) }}</b> | <b>{{ post.shares.count }} shares</b> | <b>{{ post.reactions.summary.total_count }} reacted </b></p>
    </div>
  </section>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://twemoji.maxcdn.com/2/twemoji.min.js?2.2.3"></script>
  <script src="vue.js"></script>
  <script src="moment.js"></script>
  <script src="moment-timezone.data.js"></script>
  <script src="app.js"></script>
</body>
</html>